
/*Login*/
.loginPanel{
  margin: auto;
  margin-top:100px;
  max-width:600px;
  border:#333333;
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}
#loginPanelHeading{
  background-color:#333333;
  border-color:#333333;
}
.loginPanelTitle{
  text-align:center;
}
#passwordInput, #usernameInput, .loginPanelTitle{
  text-align:center;
}
#loginButton{
  text-align:center;
  margin: 10 auto;
}


/*Signup*/
.signupPanel{
  margin: auto;
  margin-top:100px;
  max-width:600px;
  border:#333333;
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}
#signupPanelHeading{
  background-color:#333333;
  border-color:#333333;
}
.signupPanelTitle{
  text-align:center;
}
#signupButton{
  text-align: center;
  margin: 10 auto;
}



#signedInButton{
  text-align: center;
  margin: 10 auto;
}





/*Home*/
#homePage{
  max-width:100%;
  padding:0px !important;
  margin:0 auto;
  border:0;
  background-size:cover;
}
#homeTitle{
  margin-top:10px;
  color:white;
  display:inline;

}
#logoutButton{
  position:fixed-right;
}


#chatSection{
  background-color:lightblue;
  height:100%;
}
.chatBox{
  height:90%;
  overflow:auto;

}
#sideNav{
  background-color:#333333;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.75);
  height:100%;
}























