.chatBox{
  text-align:center;
  height:500px;
  border:1px black solid;
}

#userChat{
  text-align:center;
  margin:0 auto;
}
#userChatInput{
  text-align:center;
}



.signupCard{
  background-color:grey;
}
.signupCardButton{
  background-color:lightblue;
}