
<div class="container">
<h2>Meeple</h2>
  <div class="panel panel-primary loginPanel">

    <div id="loginPanelHeading" class="panel-heading">
      <h2 class="panel-title loginPanelTitle">
        Login
      </h2>
    </div>

    <div class="panel-body" ng-show="!loggedIn">

      <input id="usernameInput" type="text" ng-model="login.username" placeholder="username" class="form-control">

      <input id="passwordInput" type="password" ng-model="login.password" placeholder="password" class="form-control">

      <div id="loginButton">
        <button class="btn btn-primary" ng-click="loginUser()">Login</button class="primary">
      </div>

      <div id="signedInButton">

        <p>Not a user?</p>
        <button class="btn btn-default" ui-sref="signup"> Create a profile!</button>
      </div>
    </div>


    <div ng-show="loggedIn">
      Already Logged in
      <button class="btn btn-default" ui-sref="home">Go to home</button>
    </div>

  </div>
</div>

























