<div ng-show="!loggedIn">
  Login
  <input id="emailInput" type="text" ng-model="login.username" placeholder="username" class="form-control">
  <input id="passwordInput" type="password" ng-model="login.password" placeholder="password" class="form-control">
  <button class="btn btn-primary" ng-click="loginUser()">Login</button>

  <p>Not a user?</p>
  <button ui-sref="signup"> Create a profile!</button>



</div>


<div ng-show="loggedIn">
  Already Logged in
  <a ui-sref="Home">Go to home</a>
</div>