<div ng-controller="HomeController" class="container-fluid" id="homePage">
  <!-- Chat Section -->
  <div id="chatSection" class="col-sm-8">

    <div id="channelTitle">

      <h1 id="channelTitleText" ng-model="channel">Global</h1>


    </div>

    <div ng-model="chatBox" class="chatBox" id="chatBox">

      <ul ng-repeat="chat in chats track by $index">

        <div class="well message">
          <span id="messageUsername"><h5>{{chat.author}}:</h5></span>
          <span id="messageBody"><p>{{chat.message}}</p></span>
          <span><p>{{chat.channel}}</p></span>
          <span><p>{{chat.date}}</p></span>
          <span id="messageIcon" class="glyphicon glyphicon-comment"></span>
          <hr>
        </div>
      </ul>
    </div>

    <div id="userChat">
      <form id="userChatForm" ng-submit="sendMessage()">
        <input class="col-sm-6" ng-model="msg" id="userChatInput" type="text">

          <span ng-click="sendMessage()" id="sendMessagebutton" class="glyphicon glyphicon-send"></span>
      </form>
    </div>

  </div>



  <div id="sideNav" class="col-sm-4 container">
  <!-- Side Nav Title -->
    <div class="nav">
      <h1 id="homeTitle">Meeple</h1>
    </div>
    <hr>



    <div class="btn-group">

      <div>
        <button ng-click="createChatroom()" class="btn btn-default">
          Create chatroom <span id="createChatroomButton" class="glyphicon glyphicon-plus"></span>
        </button>
        <input ng-model="channelName" placeholder="name the chat" type="text" />
      </div>

      <div>
        <!-- channel change button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
          Channels
          <span id="roomsButtonIcon" class="glyphicon glyphicon-th"></span>
        </button>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

            </div>
          </div>
        </div>

      </div>

      <div>
        <button class="btn btn-default" ui-sref="friend">
          Find Friends
          <span id="searchUserIcon" class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div id="logoutButton">
        <button id="logoutButton" class="btn btn-default" ng-click="logout()">
          Logout
        </button>
      </div>

    </div>





  </div>


</div
