<div ng-controller="HomeController" class="container-fluid" id="homePage">
  <!-- Chat Section -->
  <div id="chatSection" class="col-sm-8">

    <div id="channelTitle">

      <h1 id="channelTitleText" ng-model="channel">Global</h1>


    </div>

    <div ng-model="chatBox" class="chatBox" id="chatBox">

      <ul ng-repeat="chat in chats track by $index">
        <blockquote id="message" class="well">
          <span id="messageUsername"><h5>{{chat.author}}:</h5></span>
          <span id="messageBody"><p>{{chat.message}}</p></span>
          <hr>
          <span id="messageIcon" class="glyphicon glyphicon-comment"></span>
          <div>
            <small>{{chat.channel}}</small>
            <small>{{chat.date}}</small>
          </div>
        </blockquote>
      </ul>
    </div>

    <div id="userChat">
      <form id="userChatForm" ng-submit="sendMessage()">
        <input class="col-sm-6" ng-model="msg" id="userChatInput" type="text" placeholder="enter a message"/>

          <span ng-click="sendMessage()" id="sendMessagebutton" class="glyphicon glyphicon-send"></span>
      </form>
    </div>

  </div>



  <div id="sideNav" class="col-sm-4 container">
  <!-- Side Nav Title -->
    <div class="nav">
      <h1 id="homeTitle">Meeple</h1>
    </div>
    <hr>


    <table class="table table-striped table-hover ">
      <tbody>

        <tr class="active">
          <td ng-click="createChatroom()">
            Create chatroom
          </td>
          <td>
            <span id="createChatroomButton" class="glyphicon glyphicon-plus"></span>
          </td>
        </tr>

        <tr class="active" data-toggle="modal" data-target="#channelList">
          <td>
            Channels
          </td>
          <td><span id="roomsButtonIcon" class="glyphicon glyphicon-th"></span></td>
        </tr>

        <tr class="active" ui-sref="friend">
          <td>
            Find Friends
          </td>
          <td>
            <span id="searchUserIcon" class="glyphicon glyphicon-search"></span>
          </td>
        </tr>

        <tr class="active" ng-click="logout()">
          <td>
            Logout
          </td>
          <td>
          <span class="glyphicon glyphicon-off"></span>
          </td>

        </tr>
      </tbody>
    </table>


        <!-- channel change button -->

        <div id="channelList" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div ng-repeat="channel in channels" class="modal-content">
              poop

            </div>
          </div>
        </div>

  </div>


</div
