<div ng-controller="FriendController">


  <div id="friendSection" class="col-sm-8 container">

    <div>
      <h1 id="channelTitleText" ng-model="channel">Search Friends</h1>
      <div id="friendSearchBar">
        <input ng-model="friendSearch" id="friendSearch" type="text">
      </div>
      <hr>

      <!-- friend nav tabs -->
      <div id="friendNavTabs">
        <ul id="tabList" class="nav nav-tabs">
          <li ng-click="allFriendTab()" class="active"><a data-toggle="tab">Users</a></li>

          <li ng-click="filterFriends()"><a ng-click="friendListTab()" data-toggle="tab">Friendships</a></li>
        </ul>
      </div>

      <div ng-show="allFriends" id="friendTable">
        <table class="table table-hover">
          <tbody id="friendTableBody">
            <tr id="friendCard"
                ng-repeat="people in users | filter:friendSearch"
                ng-show="user !== people.username">
              <td id="friendTitle">{{people.username}}</td>
              <td><button ng-click="makeFriendship(people)" class="btn btn-primary">Friend</button></td>
              <td id="friendIcon"><span class="glyphicon glyphicon-user"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div ng-show="friendList" id="friendTable">
        <table class="table table-hover">
          <tbody id="friendTableBody">
            <tr id="friendCard"
                ng-repeat="friend in friendsList | filter:friendSearch"
                ng-show="user !== people.username">

              <td id="friendTitle">{{friend}}</td>

              <td id="friendIcon"><span class="glyphicon glyphicon-user"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>






  <div id="sideNav" class="col-sm-4 container">
    <!-- Side Nav Title -->
    <div class="nav">
      <h1 id="homeTitle">Meeple</h1>
    </div>
    <hr>

    <div id="backButton">

      <button class="btn btn-default" ui-sref="home">Back to home <span class="glyphicon glyphicon-home"></span></button>

    </div>





</div>