<div ng-controller="FriendController">


  <div id="friendSection" class="col-sm-8 container">

    <div id="channelTitle" class="">

      <h1 id="channelTitleText" ng-model="channel">Search Friends</h1>

    </div>

    <div id="userChat">
      <form id="userChatForm" ng-submit="sendMessage()">
        <input ng-model="msg" id="userChatInput" type="text">
      </form>
    </div>



  </div>



  <div id="sideNav" class="col-sm-4 container">
    <!-- Side Nav Title -->
    <div class="nav">
      <h1 id="homeTitle">Meeple</h1>
    </div>
    <hr>
    <div>
      <button ng-click="createChatroom()" class="btn btn-default">
        Create chatroom <span id="createChatroomButton" class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>



    <div class="btn-group">
      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Rooms   <span id="roomsButtonIcon" class="glyphicon glyphicon-th"></span></button>
      <ul class="dropdown-menu">
        <li>{{message.channel}}</li>
      </ul>
    </div>
    <div>

      <button class="btn btn-default" ui-sref="home">Back to home</button>

    </div>





</div>